PORT=3000
MYSQL_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
MYSQL_PORT=4000
MYSQL_USER=2kCG6vTBHcvuasi.root
MYSQL_PASSWORD=hfmWWbs0yvcnHBON
MYSQL_DATABASE=tappyread
MYSQL_SSL_CA=/etc/ssl/cert.pem
SESSION_DAYS=7